@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}

body {
    background: #f0f0f0;
    transition: background 0.2s linear;
    margin-inline: auto;
    min-width: 375px;
}

body.dark {
    background: #222222;
}

.labelDarkTheme {
    display: flex;
    flex-direction: row-reverse;
    width: 315px;
    justify-content: space-between;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    width: 65px;
    margin-inline: auto;
    border: 2px solid rgb(0, 191, 99, .5);
    border-top: none;
}

.label .ball {
    background-color: rgb(0, 191, 99);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    background-color: rgb(0, 88, 46);
    transform: translateX(34px);
}

.fa-moon {
    color: #222222;
}

.fa-sun {
    color: #444444;
}

main {
    height: 95vh;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-inline: auto;
    width: 375px;
    border: 2px solid rgb(0, 191, 99, .5);
    border-radius: 20px;
    gap: 5px;
    background: #d4d4d4;
}

.seletor,
.valor,
.aviso {
    margin-top: 10px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 500;
}

select,
.inputValor,
.button {
    min-width: 327px;
    height: 36px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    opacity: .75;
    box-shadow: 4px 4px 4px #444444;
}

.inputValor {
    padding-left: 15px;
}

select {
    cursor: pointer;
}

select:hover,
.inputValor:hover,
.button:hover {
    opacity: 1;
}

.botoes {
    max-width: 375px;
    display: flex;
    flex-direction: column;
}

.button {
    font-weight: 900;
    margin-top: 20px;
    color: #ffffff;
    background: #00BF63;
    box-shadow: 4px 4px 4px #00582e;
    cursor: pointer;
}

.fake {
    background: #000000;
    box-shadow: 4px 4px 4px #000000;
    cursor: not-allowed;
    opacity: 1;
}

#botaoReal, #botaoDolar, #botaoEuro, #botaoLibra {
    display: none;
}

.resultado {
    margin: 0px 24px 15px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 276px;
    width: 327px;
    border: 2px outset #00BF63;
    border-radius: 20px;
    font-family: "Bai Jamjuree", sans-serif;
    box-shadow: 4px 4px 4px #00582e;
}

.converterDe,
.converterPara {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seta {
    width: 50px;
}

p,
h3 {
    margin: 0;
}

#selecionar, .inputValor::placeholder {
    text-align: center;
    padding-left: 0;
}

.inputValor:focus::placeholder {
    color: transparent
}